#header {
    background-color: #3276B1;
    height: 45px;
}

#logo {
    font-family: "Terminal Dosis";
    font-size: 30px;
    height: 45px;
    letter-spacing: 2px;
    line-height: 40px;
    margin: 0 auto;
    padding-left: 10px;
    text-shadow: -1px 1px 1px #001421;
}

#logo a {
    color: #EDF1F2;
}

.comment {
    padding: 5px 20px;
    background-color: #FFFFE2;
    font-size: 12px;
}

#footer {
    background-color: #3276B1;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 22px;
    font-size: 14px;
    color: white;
    width: 100%;
}

#footer a {
    color: white;
}

